/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
        .container p {
        /*color: #fff;*/
        line-height: 100px;
        /*background: #000;*/
        text-align: center;
        margin: 0 0 0 0;
        font-size: xx-large;
        }
        
        .unit {
        width: 100%;
        height: 250px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid #FF4040;
        background: rgba(227, 227, 227, 227, 0.1);
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center
        }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}