/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	font-family: Verdana, Arial, sans-serif;
	}
        
        p {
        padding-left: 5px;
        display: block;
        padding-bottom: 3px;
        }
        
        img {
        margin-top: 4px;
        }
        
        li {
        width: 90%;
        margin-left: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
        }
        
        a:link {text-decoration:none; color: inherit;}    /* unvisited link */
        a:visited {text-decoration:none; color: inherit;} /* visited link */
        a:hover {text-decoration:underline; color: inherit;}   /* mouse over link */
        a:active {text-decoration:underline; color: inherit;}  /* selected link */

        .unit-even-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(131, 21, 21);
        color: rgb(131, 21, 21);
        }
        
        .unit-even-bottom {
        width: 100%;
        overflow: hidden;
        min-height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(131, 21, 21);
        color: rgb(131, 21, 21);            /* falu red */
        background: rgb(252, 245, 235); /* linen orange */
        }
        
        .unit-odd-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(0, 0, 102);
        color: rgb(0, 0, 102);
        }
        
        .unit-odd-bottom {
        width: 100%;
        overflow: hidden;
        min-height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(0, 0, 102);
        color: rgb(0, 0, 102);          /* dark red */
        background: rgb(252, 245, 235); /* linen orange */
        }
        
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}