/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	font-family: Verdana, Arial, sans-serif;
	}
        
        a:link {text-decoration:none; color: inherit;}    /* unvisited link */
        a:visited {text-decoration:none; color: inherit;} /* visited link */
        a:hover {text-decoration:none; font-weight:bold; color: inherit;}   /* mouse over link */
        a:active {text-decoration:none; font-weight:bold; color: inherit;}  /* selected link */
	        
        .general-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        }
        
        .general-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);            /* black */
        background: rgb(255, 102, 102); /* light red */
        }
        
        .sports-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(153, 0, 0);
        color: rgb(153, 0, 0);
        }
        
        .sports-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(153, 0, 0);
        color: rgb(153, 0, 0);          /* dark red */
        background: rgb(255, 255, 255); /* white */
        }
        
        .technology-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(102, 51, 0);
        color: rgb(102, 51, 0);
        }
        
        .technology-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(102, 51, 0);
        color: rgb(102, 51, 0);         /* dark brown */
        background: rgb(144, 238, 144); /* light green */
        }
        
        .business-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(0, 100, 0);
        color: rgb(0, 100, 0);
        }
        
        .business-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(0, 100, 0);
        color: rgb(0, 100, 0);          /* dark green */
        background: rgb(216, 191, 216); /* light purple */
        }

        .entertainment-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(51, 0, 102);
        color: rgb(51, 0, 102);
        }
        
        .entertainment-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(51, 0, 102);
        color: rgb(51, 0, 102);         /* dark purple */
        background: rgb(255, 255, 255); /* light yellow */
        }
        
        .random-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(25, 25, 112);
        color: rgb(25, 25, 112);
        }
        
        .random-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(25, 25, 112);
        color: rgb(25, 25, 112);        /* dark blue */
        background: rgb(245, 222, 179); /* light brown */
        }
        
        .politics-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(153, 0, 0);
        color: rgb(153, 0, 0);
        }
        
        .politics-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(153, 0, 0);
        color: rgb(153, 0, 0);          /* dark red */
        background: rgb(204, 204, 204); /* light gray */
        }
        
        .science-and-health-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(255, 102, 0);
        color: rgb(255, 102, 0);
        }
        
        .science-and-health-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(255, 102, 0);
        color: rgb(255, 102, 0);        /* dark orange */
        background: rgb(140, 204, 255); /* light blue */
        }
        
        .daily-top {
        width: 100%;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-left-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: center;
        border: 2px solid rgb(25, 25, 112);
        color: rgb(25, 25, 112);
        }
        
        .daily-bottom {
        width: 100%;
        height: 250px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-bottom-left-radius: 20px;
        -moz-border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-box-shadow: #B3B3B3 3px 3px 3px;
        -moz-box-shadow: #B3B3B3 3px 3px 3px;
        box-shadow: #B3B3B3 3px 3px 3px;
        text-align: left;
        border: 2px solid rgb(25, 25, 112);
        color: rgb(25, 25, 112);      /* dark blue */
        background: rgb(255, 153, 0); /* light orange */
        }
        
        
        
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}